<div>
    <div id="home-cta" class="rounded-5 cornered-bottom">
        <div class="home-img">
         <a href="/r" title="<%= @img.i_hash %><%= @img.type %> - Une image au hasard"><%= lol(@img) %></a>
        </div>
    </div>
    <div id="home-nav">
    <p>
        <a id="prev" href="/i/<%= @img.id %>/<%= @img.i_hash %>/prev" class="l xl button grey icon" data-icon="&lArr;"></a>
<div class="ads_3633315f313438325f33313331"><script type="text/javascript">
        var rdads=new String(Math.random()).substring (2, 11);
        document.write('<sc'+'ript type="text/javascript" src="http://server1.affiz.net/tracking/ads_display.php?n=3633315f313438325f33313331_734b9df6fa&rdads='+rdads+'"></sc'+'ript>');
        </script></div>
        <a id="next" href="/i/<%= @img.id %>/<%= @img.i_hash %>/next" align="right" class="r xl button grey icon" data-icon="&rArr;"></a>
    </p>
  </div>
</div>