<div class="container content">
<%= erb :image %>
<p class="love">
<iframe src="http://www.facebook.com/plugins/like.php?href=<%= iurl(@img, 1) %>&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; text-align:center; overflow:hidden; width:450px; height:23px;" allowTransparency="true"></iframe></p>
<div class="container sub-fold">
    <div class="span-8">
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FFooLOL%2F132334140164771&amp;width=250&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=true&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:62px;" allowTransparency="true"></iframe>
    </div>
    <div class="span-8">
        <div>
            <h3>Partager</h3>
            <br />
            <span align="center"><a name="fb_share" type="box_count" share_url="<%= iurl(@img,1) %>" href="http://www.facebook.com/sharer.php">Partager</a></span>&nbsp;&nbsp; <span><a href="http://twitter.com/share" class="twitter-share-button" data-text="FooLOL.fr - Votre dose d'humour horaire!" data-url="<%= iurl(@img,1) %>" data-count="vertical" data-via="foolol.fr">Tweet</a></span>
        </div>
            <br />
        <div>
        <h3>Partenaires</h3>
        <br />
        <ul>
       <p><a href="http://www.nubio.net/sponsor/33B842F8" rel="nofollow"><%=img('nubio.png', 'images') %></a></p>
        </ul>
        </div>
     </div>
    <div class="span-8 last">
        <div>
        <h3>Informations</h3>
        <br />
            <label>Ajouté le</label><p><%= Time.at(@img.created_at).strftime("%d/%m/%Y à %H heures") %></p>
            <br />
            <label>Permalien</label><p><a style="font-size: 12px;" href="<%= iurl(@img, 1) %>"><%= iurl(@img, 1) %></a></p>
        </div>
    </div>
</div>